<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test name="/Users/strnnkv/IdeaProjects/TestTask">
        <classes>
            <class name="tests.positive.OperationWithIntegerTest">
                <methods>
                    <include name="operationWithInteger"/>
                </methods>
            </class>
            <class name="tests.negative.division.DivisionByZeroTest">
                <methods>
                    <include name="divisionByZero"/>
                </methods>
            </class>
            <class name="tests.negative.sinus.EmptySinus">
                <methods>
                    <include name="checkEmptySinus"/>
                </methods>
            </class>

        </classes>
    </test>
</suite>
